.tab-group {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: grey;
    color: #000;
}

.tab.active {
    background-color: green;
    border-bottom: 1px solid green;
}

.tab-content {
    padding: 10px;
    border: 1px solid #ccc;
}
